.文本过渡1{
    width: 100px;
    height: 100px;
    background-color:cyan;
    display: inline-block;
}
.文本过渡1:hover{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    transition-delay: 150ms;
    transition-duration: 1s;
}
.文本过渡2{
    width: 100px;
    height: 100px;
    background-color:cyan;
    display: inline-block;
}
.文本过渡2:hover{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    transition-delay: 150ms;
    transition-duration: 1s;
    transition-property: background-color;
}
.文本过渡3{
    width: 100px;
    height: 100px;
    background-color:cyan;
    display: inline-block;
}
.文本过渡3:hover{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    transition-delay: 150ms;
    transition-duration: 1s;
    transition-timing-function: ease;
}
.文本过渡4{
    width: 100px;
    height: 100px;
    background-color:cyan;
}
.文本过渡4:hover{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    transition-delay: 150ms;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.文本过渡5{
    width: 100px;
    height: 100px;
    background-color:cyan;
}
.文本过渡5:hover{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    transition-delay: 150ms;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.文本过渡6{
    width: 100px;
    height: 100px;
    background-color:cyan;
}
.文本过渡6:hover{
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    transition-delay: 150ms;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}